
.logo {
    display: flex;
    flex-direction: column;
    font-weight: 550;
    font-style: italic;
    text-shadow: 1px 1px 6px white;

    user-select: none;
    max-width: 205px;
    background-color: transparent;
}

.logo span {
    background-color: transparent;
}

.logo_small {
    max-width: 105px;
}

.logo .magic {
    color: var(--differential-color);
    text-align: left;
}

.logo .stock {
    color: var(--main-color);
    text-align: right;
}

.magic_large {
    font-size: 45px;
}

.stock_large {
    font-size: 40px;
}

.magic_min {
    font-size: 26px;
}

.stock_min {
    font-size: 21px;

}