
.filter h3 {
  font-weight: 550;
  font-style: italic;
  font-size: 24px;
  color: var(--main-color);
}

.filter button {
  padding: 6px;
  margin: 0 auto;

  color: var(--secondary-color);
  background-color: transparent;
  font-weight: 550;

  border-radius: 8px;
  border: 2.3px solid var(--differential-color);
}

.filter button:hover {
  cursor: pointer;
  background-color: #cee6f7;
}
